.fixed-background{
    min-height:100vh;
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
}
.background-1{
    background-image:url(back1.JPG);
}
.background-2{
    background-image:url(...);
}
.datebox{
    padding: 0.5em 2em;
    width: 450px;
    margin: auto;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin-bottom: 10px;
}

.planbox1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #323133;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.planbox2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #ff0000;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.btn {
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    border: 1px;
    background: #5e5;;
    color: #fff;
    box-shadow: 0px 2px 4px #575;

}
.btn-right {
    text-align: right;
}

.date-delete {
    font-size: 400%;
    font-weight: bold;
}

.btn-margin {
    margin-top: 10px;
}

.btn-adddate {
    padding: 0.5em 1em;
}

.img-right{
    width: 200px;
    height: auto;

}

.left{
    text-align: left;
    font-size: 24px;
}

.right{
    text-align: right;

}
.center{
    text-align: center;
    font-size: 20px;

}

.text-style{
    font-family: "Arial", "メイリオ";
    font-size: medium;
}

.select-box{
    position: relative;
    margin: auto;
    width: 70%;
    height: auto;
    
    padding: 3em 1.5em;
    border: solid 5px rgb(9, 221, 186);
    background-color: white;
}

.margin{
    text-align: left;
    margin-left: 30px;
    margin-right: 30px; 

}
.margin-left{
    text-align: right;
}
.right-padding{
    padding-right: 10px;
}

.left-padding{
    padding-left: 10px;
}

.text-left{
    text-align:left;
}

.right-padding{
    margin-right: 20px;
}

.center-y{
    text-align: center;
    font-size: 18px;
}
.center-ya{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ff0000;
    
}

.right-float{
    position: absolute;
    right: 0;
}

.center-float{
    position: absolute;
    right: 0;
}

.parent {
    
    display: flex;
    justify-content: center; 
    position: relative;
}
.right {
    position: absolute;
    right: 0; 
}

.flex{
    display: flex;
    justify-content: space-between;
}


.margin-full{
    margin: 30px;
}
.bl-pink{
    margin: 0 0 0 auto;
    text-align: right;
    width: 35%;
    border-width: 0 0 5px 0;
	border-style: double;
	border-color: #ff6f00;
}
.bl-green{
    margin: 0 0 0 auto;
    text-align: right;
    width: 35%;
    border-width: 0 0 5px 0;
	border-style: double;
	border-color: #08f7e3;
}
.bl-blue{
    margin: 0 0 0 auto;
    text-align: right;
    width: 35%;
    border-width: 0 0 5px 0;
	border-style: double;
	border-color: #4808f7;
}
